@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .initial-child-container {
      --pause-on-hover: running;
      --pause-on-click: running;
      --width: 100%;
      --transform: none;
      
      --play: running;
      --direction: reverse;
      --duration: 64.01215413411458s;
      --delay: 0s;
      --iteration-count: infinite;
      --min-width: 100%;
    }
  }